<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="lib/vue-select.css">
    <title>ToDo</title>
  </head>
  <body>
    <div id="app">
      <h1>&#x2611;&#xFE0F;ToDo</h1>
      <form class="add-form" v-on:submit.prevent="addTask">
        <!--タスク入力フォーム-->
        <input
          type="text"
          style="width:350px; border-radius: 5px; font-size: 12px; height: 25px"
          placehosder="新しい作業を追加"
          v-model=submittedTask
        />
        <!--追加ボタン-->
        <!--FIXME: ボタン位置がちょっと下になってしまう-->
        <button type="submit" class="btn">追加</button>
      </form>
      <table>
        <thead>
          <tr class="thead-tr">
            <th style="width: 20px">ID</th>
            <th style="width: 300px">タスク</th>
            <th style="width: 100px">ステータス</th>
            <th style="width: 230px">備考</th>
            <th style="width: 30px"></th>
          </tr>
        </thead>
        <tbody>
          <tr
              v-for="task in tasks"
              :class="{'status-doing': task.status_id == 2, 'status-complete': task.status_id == 4}"
            >
              <td style="width: 20px">
                {{ task ? task.id : '' }}
              </td>
              <td
                v-if="!isEditTask(task.id)"
                style="width: 300px"
              >
                <input
                  type="image"
                  v-if="task.status_id != 2"
                  src="./pictures/pen_red.png"
                  @click="editting_task_id = task.id"
                />
                <input
                  type="image"
                  v-else
                  src="./pictures/pen_gray.png"
                  @click="editting_task_id = task.id"
                />
                {{ task ? task.name : '' }}
                <!--
                <div v-if="hasSubTasks(task.id)">
                  <span v-for="subtask in subtasks">
                    {{ subtask.name }}<br>
                  </span>
                </div>
                -->
              </td>
              <td v-else>
                <input
                  style="width: 100%"
                  type="txt"
                  v-model="task.name"
                  @blur="editting_task_id = null"
                  @keydown.enter="onKeydownEnter($event.keyCode, 'name')"
                />
              </td>
              <td style="width: 100px;">
                <v-select
                  :class="task.status_id !=4 ? 'v-select' : 'v-select-complete'"
                  label="name"
                  :options="statuses"
                  :reduce="status => status.id"
                  v-model="task.status_id"
                  :clearable="false"
                >
              <!--memo:
              :clearable="false" ←クリアボタンの無効化
              公式サイト
              https://vue-select.org/api/props.html
              のpropsは、v-selectタグの属性に```:apiname=指定されている型の値```を入れて使う
              -->
                </v-select>
              </td>
              <td
                v-if="!isEditComment(task.id)"
                style="width: 230px"
              >
                <input
                  type="image"
                  v-if="task.status_id != 2"
                  src="./pictures/pen_red.png"
                  @click="editting_comment_id = task.id"
                />
                <input
                  type="image"
                  v-else
                  src="./pictures/pen_gray.png"
                  @click="editting_comment_id = task.id"
                />
                {{ task.comment }}
              </td>
              <td v-else>
                <input
                  style="width: 100%"
                  type="txt"
                  v-model="task.comment"
                  @blur="editting_comment_id = null"
                  @keydown.enter="onKeydownEnter($event.keyCode, 'comment')"
                />
              </td>
              <td style="width: 30px">
                <input
                  type="image"
                  v-if="task.status_id != 2"
                  src="./pictures/garbage_red.png"
                  class="icon-delete-task"
                  @click="deleteTask(task.id)"
                />
                <input
                  type="image"
                  v-else
                  src="./pictures/garbage_black.png"
                  class="icon-delete-task"
                  @click="deleteTask(task.id)"
                />
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr class="tfoot-tr">
              <td class="tfoot-td">
                全て削除する→
                <input
                  type="image"
                  src="./pictures/garbage_red.png"
                  class="icon-delete-all"
                  @click="deleteAll"
                />
              </td>
            </tr>
          </tfoot>
      </table>
    </div>
  </body>
<script src="./lib/vue.js"></script>
<script src="./lib/vue-select.js"></script>
<script src="./main.js"></script>
</html>
