<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="main.css">
    <title>ToDo</title>
  </head>
  <body>
    <div id="app">
      <!--
      -->
      <h1>ToDo<h1>
      <form class="add-form" v-on:submit.prevent="addTask">
        <!-- タスク入力フォーム -->
        <input
          type="text"
          style="width:250px"
          placehosder="新しい作業を追加"
          v-model=submittedTask
        >
        <!-- 追加ボタン-->
        <button type="submit">追加</button>
      </form>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th style="width: 100px">ステータス</th>
            <th style="width: 250px">タスク</th>
          </tr>
        </thead>
          <tbody>
            <tr
              v-for="task in tasks"
              :class="{'status-doing': task.status_id == 2, 'status-complete': task.status_id == 4}"
            >
              <th>{{ task ? task.id : '' }}<th>
              <td
                style="width: 100px; text-align: center;"
              >
              <!--
                FIXME: @changeの箇所を後でちゃんと実装する
                       もしかしたらいらないかも
              -->
              <select
                v-model="task.status_id"
                @change=""
                :class="{'status-doing': task.status_id == 2, 'status-complete': task.status_id == 4}"
              >
                <option
                  v-for="status in statuses"
                  :value="status.id"
                >
                  {{ status.name }}
                </option>
              </select>
            </td>
            <td style="width: 250px">
              {{ task ? task.name : '' }}
            </td>
          </tbody>
      </table>
    </div>
  </body>
<script src="./lib/vue.js"></script>
<script src="./main.js"></script>
</html>
