<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="lib/vue-select.css">
    <title>ToDo</title>
  </head>
  <body>
    <div id="app">
      <h1>ToDo</h1>
      <form class="add-form" v-on:submit.prevent="addTask">
        <!--タスク入力フォーム-->
        <input
          type="text"
          style="width:250px"
          placehosder="新しい作業を追加"
          v-model=submittedTask
        >
        </input>
        <!--追加ボタン-->
        <button type="submit" class="btn">追加</button>
      </form>
      <table>
        <thead>
          <tr>
            <th style="width: 20px">ID</th>
            <th style="width: 300px">タスク</th>
            <th style="width: 120px">ステータス</th>
            <th style="width: 230px">備考</th>
          </tr>
        </thead>
          <tbody>
            <tr
              v-for="task in tasks"
              :class="{'status-doing': task.status_id == 2, 'status-complete': task.status_id == 4}"
            >
              <td style="width: 20px">
                {{ task ? task.id : '' }}
              </td>
              <td
                v-if="!isEditTask(task.id)"
                style="width: 320px"
              >
                <img
                  v-if="task.status_id != 2 && task.status_id !=4"
                  src="./pictures/pen_red.png"
                  @click="editting_task_id = task.id">
                </img>
                <img
                  v-else
                  src="./pictures/pen_gray.png"
                  @click="editting_task_id = task.id">
                </img>
                {{ task ? task.name : '' }}
                <!--
                <div v-if="hasSubTasks(task.id)">
                  <span v-for="subtask in subtasks">
                    {{ subtask.name }}<br>
                  </span>
                </div>
                -->
              </td>
              <td v-else>
                <input
                  style="width: 250px"
                  type="txt"
                  v-model="task.name"
                  @blur="editting_task_id = null"
                  @keydown.enter="editting_task_id = null"
                >
              </td>
              <td style="width: 120px;">
                <v-select
                  label="name"
                  :options="statuses"
                  :reduce="status => status.id"
                  v-model="task.status_id"
                >
                </v-select>
              </td>
              <td
                v-if="!isEditComment(task.id)"
                style="width: 230px"
              >
                <img
                  v-if="task.status_id != 2 && task.status_id !=4"
                  src="./pictures/pen_red.png"
                  @click="editting_comment_id = task.id">
                </img>
                <img
                  v-else
                  src="./pictures/pen_gray.png"
                  @click="editting_comment_id = task.id">
                </img>
                {{ task.comment }}
              </td>
              <td v-else>
                <input
                  style="width: 200px"
                  type="txt"
                  v-model="task.comment"
                  @blur="editting_comment_id = null"
                  @keydown.enter="editting_comment_id = null"
                >
              </td>
            </tr>
          </tbody>
      </table>
    </div>
  </body>
<script src="./lib/vue.js"></script>
<script src="./lib/vue-select.js"></script>
<script src="./main.js"></script>
</html>
