/*
 */
body {
  /*
  background: #35332d;
  */
  background: #000000;
  color: #ffffff;
}
table {
  /*
  background: #808080;
  */
  background: #35332d;
  border: 2px #ffffff solid;
}
thead {
  border-bottom: 2px #ffffff solid;
}
/*ボタン*/
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /*高さ 幅*/
  padding: 0.1rem 0.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 3rem;
  border-color: #ffffff;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
.btn:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}
thead, tbody {
  display: block;
}
tbody {
  overflow-y: scroll;
  height: 600px;
}
.v-select {
  --vs-controls-color: #ffffff;
  --vs-border-color: #ffffff;

  --vs-dropdown-bg: #282c34;
  --vs-dropdown-color: #cc99cd;
  --vs-dropdown-option-color: #ffffff;

  --vs-selected-bg: #664cc3;
  --vs-selected-color: #eeeeee;

  --vs-search-input-color: #eeeeee;

  --vs-dropdown-option--active-bg: #664cc3;
  --vs-dropdown-option--active-color: #eeeeee;
}
select {
  outline: none;
}
.status-doing {
  background: #ff0000;
}
.status-complete {
  background: #ffd700;
}
