main {
  box-sizing: border-box;
}
#app {
  max-width: 1200px;
  margin: 0 auto;
}
body {
  background: #212529;
  color: #ffffff;
}
table {
  font-size: 12px;
  word-break:break-word;
}
thead {
  border-bottom: 2px #ffffff solid;
}
tbody {
  overflow-y: scroll;
  height: 70vh;
}
td {
  border-bottom: 1px #35332d solid;
}
thead, tbody {
  display: block;
}
img:hover {
  cursor: pointer;
}
tr:hover {
  background: #664cc3;
}
button {
  border-radius: 5px;
}

.th-sort:hover{
  color: #00ffff;
  cursor: pointer;
  text-decoration: underline;
}
.thead-tr:hover{
  background: #212529;
}
.tfoot-tr:hover{
  background: #212529;
}
.tfoot-td {
  color: #ffffff;
  border-bottom: none;
  border-right: none;
  font-size: 12px;
}
/* ステータスに応じた色 */
.status-doing {
  background: #ff0000;
}
.status-complete {
  color: gray;
  background: #35332d;
}
.input-time, .input-date {
  background: #080800;
  color:#ffffff
}
.time:hover, .date:hover {
  cursor: pointer;
}
.checkbox:hover {
  cursor: pointer;
}
.dragover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: scale3d(1.007, 1.3, 1.3);
}

/* ボタン */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 0.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 3rem;
  border-color: #ffffff;
}
.btn:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
  cursor: pointer;
}
/* v-cloak */
[v-cloak] {
  display: none;
}
/* vue-select */
.v-select {
  --vs-controls-color: #ffffff;
  --vs-border: none;

  --vs-dropdown-bg: #282c34;
  --vs-dropdown-color: #cc99cd;
  --vs-dropdown-option-color: #ffffff;

  --vs-selected-bg: #664cc3;
  --vs-selected-color: #eeeeee;

  --vs-search-input-color: #eeeeee;

  --vs-dropdown-option--active-bg: #664cc3;
  --vs-dropdown-option--active-color: #eeeeee;

  /* Font */
  --vs-font-size: 0.8rem;
  --vs-line-height: 1.0;
}
.v-select.complete {
  --vs-controls-color: gray;
  --vs-selected-color: gray;
}
.v-select .vs__selected-options {
    flex-wrap: nowrap;
    white-space: nowrap;
}

/* bootstrapのアイコン */
i:hover {
  cursor: pointer;
}
.bi-check2-circle {
  font-size: 40px;
  display: inline-block;
  _display: inline;
  transform: translate(0%, 2px);
}
.bi-check2-circle:hover {
  cursor: default;
}
.bi-pencil-fill {
  font-size: 14px;
}
.bi-check-square, .bi-trash {
  font-size: 20px;
  color: #ff6347;
  display: inline-block;
  _display: inline;
  transform: translate(0%, 3px);
}
.bi-list-ol {
  font-size: 26px;
  color: #ff6347;
  display: inline-block;
  _display: inline;
  transform: translate(0%, 6px);
}
